
default: &default
  adapter: mysql2
  encoding: utf8
  username: root
  password: root

development:
  <<: *default
  database: pets-api_development

test:
  <<: *default
  database: pets-api_test

production:
  <<: *default
  database: pets-api_production
  username: pets-api
  password: <%= ENV['PETS-API_DATABASE_PASSWORD'] %>
